    <div style="width: 100%; height: 100%; border: 1px outset #e6e6e6">
        <div style="width: 100%; height: 100%;" [style.background-color]="player.color" >
            <div class="category-row">
                <div class="category" [style.background-color]="getCategoryColor(0)">
                </div>
                <div class="category" [style.background-color]="getCategoryColor(1)">
                </div>
            </div>
            <div class="category-row">
                <div class="category" [style.background-color]="getCategoryColor(2)">

                </div>
                <div class="category" [style.background-color]="getCategoryColor(3)">

                </div>
            </div>
        </div>
    
    </div>
    