<h1>Welcome To Trivial Purfuit!</h1>

<div *ngIf="players.length < 4">
<h2>Enter Player Information below:</h2>
<h3>Please enter at least 2 players</h3>

<div *ngIf="displayError"><b>Required fields missing. Please complete required fields.</b></div>
<form [formGroup]="playerForm">
    <label for="uname">Username:</label><br>
    <input type="text" id="uname" name="uname" formControlName="uname"><br>
    <label for="color">Color:</label><br>
    <div *ngFor="let color of availableColors">
        <input type="radio" value="{{color}}" formControlName="color" required/> 
        <label>{{color}}</label>
    </div>

</form>
<button (click)="submitPlayer()" class="content" role="main">Submit Player</button>
</div>
<br>
<br>
<button *ngIf="players.length > 1" (click)="navigateToGame()" class="content" role="main">Start Trivial Purfuit!</button>