<div style="display: flex;">
    <div>
        <pre>
            #    0   1   2   3   4   5   6   7   8 
            #0   C   C   RA  C   HQ  C   RA  C   C
            #1   RA              C               C
            #2   C               C               RA
            #3   C               C               C
            #4   HQ  C   C   C   H   C   C   C   HQ          
            #5   C               C               RA
            #6   C               C               C
            #7   RA              C               C
            #8   C   C   RA  C   HQ  C   RA  C   C
        </pre>
    </div>
    <div>
        <div><b>Round {{ currentRound }}</b></div>
        <div *ngIf="currentPlayer"><br>
            <b>
            Current Player: 
            </b>
            {{ currentPlayer.player_name }}
            
            <br>
            Moves Left: {{ movesLeft }}
            </div>
            
            <div *ngIf=isRollDieState>
                    <button (click)="rollDie()" class="content" role="main">Roll Die</button>
            </div>
            
            <div *ngIf=isMoveDirectionState>
                Choose a square to move to:
                <form [formGroup]="moveDirectionForm">
                    <div *ngFor="let availableSquare of nextAvailableSquares">
                         <input id="{{availableSquare}}" type="radio" value="{{availableSquare}}" name= "direction" formControlName="direction" required/> <label>{{ availableSquare }}</label>
                    </div>
                </form>
                <button (click)="moveDirection()" class="content" role="main">Submit</button>
            </div>
            
            <div *ngIf=isAnswerTriviaState>
                Question: {{ currentQuestion }}
                <form [formGroup]="answerTriviaForm">
                    <div *ngFor="let answer of possibleAnswers">
                        <input id={{answer}} type="radio" value="{{answer}}" name="trivia" formControlName="trivia" required/> <label>{{ answer }}</label>
                    </div>
                </form>
                <button (click)="answerTriviaQuestion()" class="content" role="main">Submit Answer</button>
            </div>
            
            <div *ngIf=isSetCategoryState>
                Select a Category for next Question:
                <form [formGroup]="setCategoryForm">
                    <div *ngFor="let category of available_categories">
                        <input id={{category._id.$oid}} type="radio" value="{{category._id.$oid}}" name="category" formControlName="category" required/> <label>{{ category.name }}</label>
                    </div>
                </form>
                <button (click)="setCategory()" class="content" role="main">Submit Category</button>
            </div>
        
    </div>
</div>


<div>
    <br>
    <b>Players:</b>
    <div style="display: flex;">
        <div *ngFor="let player of playerList" style="width: 20%; margin-right: 5%;">
            <br>
                {{ player.player_name }}
                
               <br> Color: {{ player.color }} 
               <br>
               Location: {{ player.location[0]}} , {{ player.location[1] }}
               <br>
               <br>
               <div *ngIf="player.collected_wedges.length > 0; else noWedges">
                    Wedges:
                    <div *ngFor="let wedge of player.collected_wedges">
                     {{ wedge.name }}
                    </div>
                </div>
                <ng-template #noWedges>
                   <br> No Wedges Collected
                </ng-template>
            </div>
    </div>
    
</div>

